<div class="top block--sale-cupcakes">
  <div class="helper pull-right  car-wrapper bg-success">
    <label class="amount-cupcakes">CUPCAKES ( {{ data.count }} )</label>
    <a href="{{ data.url }}">BUY</a>
  </div>
</div>