<div class="downloads-month">
  <a href="{{ data.month }}" download="byMonth">Download by month</a>

</div>

<div class="downloads-invoices">
  <a href="{{ data.client }}" download="invoicesByClient">Download invoices by client</a>
</div>

<div class="downloads-ranking">
  <a href="{{ data.cupcakes }}" download="Ranking">Ranking cupcakes</a>
</div>